/*------------------------------------------------------General */
body {
    background-color: #c0d6d6
;
    min-width: 275px;
    font-family: Raleway, Arial, sans-serif;
    color: #000;
    
}

.page-wrap {
    margin: 0 auto;
    width: 80%;
}

.headings {
    font-family: 'Londrina Solid', Impact, sans-serif;
    margin-top: 20px;
    color: #212529;
    letter-spacing: 0.3rem;
}

.text-content {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.services-container, .gallery-container{
    display: block;
    text-align: center;
    box-shadow: 1px 1px 2px #7ea5a5;
    border-radius: 10px;
    margin: 30px 0;
    padding: 20px 0;
    background-color: #f8f9fab3;

}

/*------------------------------------------------------Nav bar */
.nav-container {
    height: 125px;
    position: relative;
    min-width: 270px;

}

#logo {
    height: 90%;
    position: absolute;
    z-index: 2;
    margin-left: 15px;
    
}

.blue-stripe {
    height: 50%;
    background-color: #91BFBF;

}

.green-stripe {
    height: 50%;
    background-color: #769B67;
}

.navbar{
    padding: 0;
        
}

.navbar-expand-sm{
    z-index: 1;
    background-color: #769B67;
}

.nav-item {
    font-family: 'Londrina Solid', Impact, sans-serif;
    padding: 0 12px;
    font-weight: bolder;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    position: relative;
    top: 5px;
    text-transform: uppercase;
    
}

nav span i {
    color: #ffffff;
    font-size: 2rem;
}
.navbar-toggler {
    position: relative;
    bottom: 22px;
    right: 10px;
    border: 1px solid #ffffff;
   
}

/*------------------------------------------------------Footer */
.ff-footer {
    padding: 15px 0;
    width: 100%;
    background-color: #769B67;
    color: #ffffff80;
    margin-top: 20px;
}

.ff-footer a, .ff-footer p {
    color:#ffffff80;
    margin: 0;
}

.ff-footer i {
    font-size: 2rem;
    padding: 5px 10px;

}

.ff-footer a:hover{
    color:#ffffff;
}
/*------------------------------------------------------Home page */
.welcome-container{
    display: block;
    text-align: center;
    border-radius: 10px;
    margin: 30px 0;
    padding: 20px 0;
}

.welcome-container hr {
    width: 20%;
    height: 1px;
    background-color: #000;
}

.welcome-container h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

.tag-line{
    font-size: 1.2rem;
    margin: 15px auto;
    text-transform: uppercase;
}

.image-container{
    width: 90%;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin: 40px 0 50px;

}

.about {
    margin-bottom: 60px;
}

.about h2 {
    text-align: center;
    margin-bottom: 30px;
}

.about img{
    width: 25%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    float: left;
    margin-right: 20px;
}

.contact-page-link {
    text-decoration: underline;
}

.services-container {
    margin-top: 30px;
}

.services-container p, .services-container h4 {
    color: #57734b;
}

.services-container p {
    padding: 0 30px;
}
.services-container i{
    font-size: 1.5rem;
    padding: 20px;
}
.prices-text {
    font-weight: bold;
}
/*------------------------------------------------------Gallery page */
.thumbnail {
    width: 100%;
}
.expanded-image {
    width: 100%;
}

/*------------------------------------------------------Contact page */
.contact-container {
    width: 80%;
    margin: 50px auto;
    box-shadow: 1px 1px 2px #7ea5a5;
    border-radius: 10px;
    background-color: #f8f9fab3;

}
.contact-form {
    width: 80%;
}

.form-submit-button {
    background-color: #91BFBF;
    margin-bottom: 15px;
}
.contact-image {
    width: 90%;
    border-radius: 50%;
    border: 2px solid #ffffff;

}
/*------------------------------------------------------Media Queries */
@media only screen and (max-width: 768px) {
    .nav-item {
        padding: 0 2px;
        font-size: 1.5rem;
        letter-spacing: 0rem;

    }
    .welcome-container h1 {
        letter-spacing: 0.2rem;
        font-size: 3rem;
    }
    .tag-line {
    font-size: 1rem;
    }
    .image-container{
    width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .welcome-container{
        margin-top: 0;
    }
     .welcome-container h1 {
        letter-spacing: 0.1rem;
        font-size: 2rem;
        margin-top: 20px;
    } 
    .tag-line {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    }
   .about p, .contact-container p{
        font-size: 1rem;
        letter-spacing: 0;
    }
    .form-input {
    width: 90%;
    }
}

@media only screen and (max-width: 380px) {
    .nav-container{
        height: 80px;
    }
    .welcome-container{
        margin-top: 0;
    }
    .welcome-container h1 {
        letter-spacing: 0rem;
        font-size: 2rem;
        margin-top: 10px;
    } 
     .tag-line {
    font-size: 0.8rem;
    letter-spacing: 0rem;
    }
    .prices-text {
    font-size: 0.7rem;
    font-weight: bold;
    }
    footer i{
        font-size: 1.5rem;
        padding: 0 5px;
    }

    footer p, footer a{
        font-size: 0.8rem;
    }
}


