/*------------------------------------------------------General */
body {
    background-color: #91BFBF;
    min-width: 275px;
    font-family: Raleway, Arial, sans-serif;
    color: #ffffff;
    
}

.headings{
    font-family: 'Londrina Solid', Impact, sans-serif;
    margin-top: 20px;
    color: #ffffff;
    letter-spacing: 0.3rem;
}

.welcome-container, .prices-container, .contact-container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-top: 30px;
    background-color: rgb(163, 187, 187);

}

.image-container{
    width: 90%;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-bottom: 30px;

}

/*------------------------------------------------------Nav bar */
.nav-container {
    height: 125px;
    position: relative;
    min-width: 270px;

}

#logo {
    height: 90%;
    position: absolute;
    z-index: 1;
    margin-left: 15px;
    
}

.blue-stripe {
    height: 50%;
    background-color: #91BFBF;

}

.green-stripe {
    height: 50%;
    background-color: #769B67;
}

.navbar{
    padding: 0;
        
}

.navbar-expand-sm{
    background-color: #769B67;
}

.nav-item {
    font-family: 'Londrina Solid', Impact, sans-serif;
    padding: 0 12px;
    font-weight: bolder;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    position: relative;
    top: 5px;
    text-transform: uppercase;
    
}

nav span i {
    color: #ffffff;
    font-size: 2rem;
}
.navbar-toggler {
    position: relative;
    bottom: 22px;
    right: 10px;
    border: 1px solid #ffffff;
   
}

/*------------------------------------------------------Home page */
.welcome, .prices, .contact {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-top: 30px;
    background-color: rgb(163, 187, 187);

}

.welcome hr {
    width: 200px;
    height: 3px;
    background-color: #ffffff;
}

.welcome h2 {
    margin-bottom: 30px;
}

.about {
    width: 95%;
    margin: 0 auto;
}
.about h2 {
    text-align: center;
}

.about img{
    width: 25%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    float: left;
    margin-right: 20px;
}

.about p {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.prices {
    margin-top: 30px;
}

.prices i{
    font-size: 1.5rem;
}
/*------------------------------------------------------Footer */
footer {
    width: 100%;
    min-height: 62px;
    background-color: #769B67;
    color: #ffffff80;
    margin-top: 20px;
}

footer a, footer p {
    color:#ffffff80;
    margin: 0;
}

footer i {
    font-size: 2rem;
    padding: 0 10px;

}

footer a:hover{
    color:#ffffff;
}
/*------------------------------------------------------Media Queries */
@media only screen and (max-width: 760px) {
    .nav-item {
        padding: 0 2px;
        font-size: 1.5rem;
        letter-spacing: 0rem;

    }
}

@media only screen and (max-width: 380px) {
    .nav-container{
        height: 80px;
    }

    .about p {
        font-size: 1rem;
        letter-spacing: 0;
    }

    footer i{
        font-size: 1.5rem;
        padding: 0 5px;
    }

    footer p, footer a{
        font-size: 0.8rem;
    }

}